# Version control
.git
.gitignore

# Dependencies
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment
.env
.env.local
.env.development
.env.test
.env.production

# Build outputs
build
dist
coverage

# IDE specific files
.idea
.vscode
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db
